

img{
    width: 100%;
}
.logo{
    width: 20%;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

.bg1{
    background-color: rgba(2, 124, 2, 0.589);
}


.bgblue{
    background-color: rgba(0, 0, 255, 0.74);
    height: 20px;
}

.banner1{
    width: 100%;
}

.h2{
padding: 10px;
background-color: rgba(0, 0, 255, 0.74);
}

.h2pami{
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.74);
    text-align: center;
    }

footer{
    background-image: url(../img/BANNER.jpg), none;
    padding: 10px;
    width: 100%;
}

p{
    text-align: justify;
}

.map{
    text-align: center;
}
.imgicon{
    width: 10%;
    padding: 10px;
}

.form{
    padding: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.imgnoti{
    height: auto;
}

.contacto{
    background-color: rgba(255, 255, 255, 0.5);
}